<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瓯江义工网</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">


    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/admin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table-filter-control.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table id="tb_user" data-filter-control="true"></table>
    </div>

    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/admin.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-filter-control.js"></script>

    <script type="text/javascript">
        $(function () {
            //初始化表格
            initTable();
        });

        //初始化表格
        function initTable(queryParam) {
            $("#tb_user").bootstrapTable('destroy');
            $('#tb_user').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",
                url: '/UserInfo/GetAllUserInfo',
                method: 'post',
                toolbar: '#toolbar',
                striped: true,
                cache: false,
                pagination: true,
                queryParams: function (param) {
                    return param;
                },
                sidePagination: "server",
                pageNumber: 1,
                pageSize: 5,
                pageList: [5, 10, 20, 50],
                smartDisplay: false,
                showColumns: true,
                showRefresh: true,
                minimumCountColumns: 3,
                clickToSelect: true,
                uniqueId: "UserInfoID",
                rowStyle: function (row, index) {
                    var strclass = "";
                    if (row.ORDER_STATUS == "2") {
                        strclass = 'warning';//还有一个active
                    }
                    else if (row.ORDER_STATUS == "1") {
                        strclass = 'danger';
                    }
                    else {
                        return {};
                    }
                    return { classes: strclass }
                },
                columns: [
                    {
                        field: 'UserInfoID',//域值
                        title: 'Id',//标题
                        visible: false,
                        align: 'center',
                        width: '6%',
                        filterControl: 'input',
                    },
                    {
                        field: 'UserInfoLoginId',//域值
                        title: '登录ID',//标题
                        visible: true,//false表示不显示
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'UserInfoStuId',//域值
                        title: '学号',//标题
                        visible: false,//false表示不显示
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["UserInfoStuId"] == null) {
                                return '未填写';
                            }
                            return value;
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'UserInfoShowName',//域值
                        title: '用户名称',//标题
                        visible: true,//false表示不显示
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'UserInfoPhone',//域值
                        title: '手机号',//标题
                        visible: false,//false表示不显示
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["UserInfoPhone"] == null) {
                                return '未填写';
                            }
                            return value;
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'UserInfoEmail',//域值
                        title: '邮箱',//标题
                        visible: false,//false表示不显示
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["UserInfoEmail"] == null) {
                                return '未填写';
                            }
                            return value;
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'PoliticalName',//域值
                        title: '政治面貌',//标题
                        visible: false,//false表示不显示
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'MajorName',//域值
                        title: '专业',//标题
                        visible: false,//false表示不显示
                        width: '10%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["MajorName"] == null) {
                                return '未填写';
                            }
                            return value;
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'DepartmentName',//域值
                        title: '所属学院',//标题
                        visible: false,//false表示不显示
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["DepartmentName"] == null) {
                                return '未填写';
                            }
                            return value;
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'UserInfoTalkCount',//域值
                        title: '心得数目',//标题
                        visible: true,//false表示不显示
                        sortable: true,//启用排序
                        width: '4%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["UserInfoTalkCount"] == null) {
                                return '0';
                            }
                            return value;
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'OrganizeInfoShowName',//域值
                        title: '所属组织',//标题
                        visible: false,//false表示不显示
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'UserDurationNormalTotal',//域值
                        title: '普通活动时长',//标题
                        visible: false,//false表示不显示
                        sortable: true,//启用排序
                        width: '10%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'UserDurationPropartyTotal',//域值
                        title: '预备党员时长',//标题
                        visible: false,//false表示不显示
                        sortable: true,//启用排序
                        width: '10%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'UserDurationPartyTotal',//域值
                        title: '党员时长',//标题
                        visible: false,
                        sortable: true,
                        width: '10%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'UserDurationTotal',//域值
                        title: '义工活动总时长',//标题
                        visible: true,
                        sortable: true,
                        width: '10%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'UserInfoLastTime',//域值
                        title: '最后登录时间',//内容
                        visible: false,//false表示不显示
                        sortable: true,//启用排序
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'Status',//域值
                        title: '状态',//内容
                        visible: true,//false表示不显示
                        sortable: true,//启用排序
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["Status"] == 2) {
                                return '未审核';
                            } else if (row["Status"] == 1) {
                                return '已删除';
                            } else if (row["Status"] == 0) {
                                return '正常'
                            }
                        },
                        filterControl: 'input',
                    }
                ],
                onLoadSuccess: function (data) {
                    $(".editLink").click(function () {
                        editClickEvent($(this).attr("uid"));
                        return false;
                    });
                },
                onDblClickRow: function (row, $element) {
                    var index = layer.open({
                        type: 2,
                        title: false,
                        closeBtn: 1,
                        maxmin: false,
                        shadeClose: true,
                        area: ['1000px', '800px'],
                        content: '/UserInfo/OrgEditUser/' + row["UserInfoID"]
                    });
                }
            });
        };

    </script>
</body>
</html>






