@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瓯江义工网</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/oj/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/oj/css/main.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav class="top">
            <p>首页</p>
        </nav>
        <nav class="ad clearfix">

        </nav>
        <div class="icons clearfix">
            <ul class="icons-row">
                <li>
                    <a href="~/Activity/List"></a><img src="~/Content/Upload/Images/icon1.png" /><span>查看活动列表</span>
                </li>
                <li>
                    <a href="#"></a><img src="~/Content/Upload/Images/icon1.png" /><span>发起活动</span>
                </li>
                <li>
                    <a href="#"></a><img src="~/Content/Upload/Images/icon1.png" /><span>发起活动</span>
                </li>
                <li>
                    <a href="#"></a><img src="~/Content/Upload/Images/icon1.png" /><span>发起活动</span>
                </li>
                <li>
                    <a href="#"></a><img src="~/Content/Upload/Images/icon1.png" /><span>发起活动</span>
                </li>
                <li>
                    <a href="#"></a><img src="~/Content/Upload/Images/icon1.png" /><span>发起活动</span>
                </li>
                <li>
                    <a href="#"></a><img src="~/Content/Upload/Images/icon1.png" /><span>发起活动</span>
                </li>
                <li>
                    <a href="#"></a><img src="~/Content/Upload/Images/icon1.png" /><span>发起活动</span>
                </li>
                
            </ul>
        </div>
    </header>
    <!-- 首页的主要内容 -->
    <div class="hot-action">
        <div class="kinds">
            <img src=""><p>热门活动</p>
        </div>
        <section class="action clearfix">
            <!-- 清除了浮动 -->
            <div class="userinfo">
                <span class="ac-userimg">
                    <img src="images/1.jpg">
                </span>
                <span class="ac-username">
                    李华伟
                </span>
            </div>

            <div class="ac-left">
                <h4 class="ac-title">1月13日（星期六下午）在温大北校区7号楼打扫</h4>
                <div class="ac-time">
                    <p>
                        时间：2018-1-13日 13:30-16:00
                        <br>
                        截止2018-1-6日 已经<span>1</span>人报名
                    </p>
                </div>
            </div>
            <div class="ac-right">
                <img src="images/acimg.png">
            </div>
        </section>
        <section class="action clearfix">
            <!-- 清除了浮动 -->
            <div class="userinfo">
                <span class="ac-userimg">
                    <img src="images/1.jpg">
                </span>
                <span class="ac-username">
                    李华伟
                </span>
            </div>

            <div class="ac-left">
                <h4 class="ac-title">1月13日（星期六下午）在温大北校区7号楼打扫</h4>
                <div class="ac-time">
                    <p>
                        时间：2018-1-13日 13:30-16:00
                        <br>
                        截止2018-1-6日 已经<span>1</span>人报名
                    </p>
                </div>
            </div>
            <div class="ac-right">
                <img src="images/acimg.png">
            </div>
        </section>
        <section class="action clearfix">
            <!-- 清除了浮动 -->
            <div class="userinfo">
                <span class="ac-userimg">
                    <img src="images/1.jpg">
                </span>
                <span class="ac-username">
                    李华伟
                </span>
            </div>

            <div class="ac-left">
                <h4 class="ac-title">1月13日（星期六下午）在温大北校区7号楼打扫</h4>
                <div class="ac-time">
                    <p>
                        时间：2018-1-13日 13:30-16:00
                        <br>
                        截止2018-1-6日 已经<span>1</span>人报名
                    </p>
                </div>
            </div>
            <div class="ac-right">
                <img src="images/acimg.png">
            </div>
        </section>
    </div>
    <footer></footer>
    <!-- 下边导航组件 -->
    <nav class="navbt">
        <a href="" class="btBar"><img src="images/icon1.png"><span>义工榜</span></a>
        <a href="" class="btBar"><img src="images/icon1.png"><span>义工商城</span></a>
        <a href="" class="btBar"><img src="images/icon1.png"><span>首页</span></a>
        <a href="" class="btBar"><img src="images/icon1.png"><span>义工心得</span></a>
        <a href="personal.html" class="btBar"><img src="images/icon1.png"><span>个人中心</span></a>
    </nav>
    <!-- 侧边栏组件 -->
    <div class="topback" id="topback">
        <img src="images/topback.png">
    </div>

    <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>