@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<header>
    <nav class="top">
        <p>首页</p>
    </nav>
    <!-- 轮播图 -->
    <nav class="ad clearfix">
        <div class="layui-carousel" id="ad-img">
            <div carousel-item>
                <div><img src="images/acmoreimg.jpg"></div>
                <div><img src="images/acimg.png" alt="" /></div>
                <div>条目3</div>
            </div>
        </div>
    </nav>
    <div class="icons clearfix">
        <!-- 清除了浮动 -->
        <ul class="icons-row">
            <li><a href="Release.html"><i class="iconfont icon-huodong"></i></a><span>发起活动</span></li>
            <li><a href="#"><i class="iconfont icon-paixingbang"></i></a><span>义工排行</span></li>
            <li><a href="#"><i class="iconfont icon-scanning"></i></a><span>扫码签到</span></li>
            <li><a href="#"><i class="iconfont icon-huodong"></i></a><span>发起活动</span></li>
        </ul>
    </div>
</header>
<!-- 首页的主要内容 -->
<div class="hot-action">
    <section class="action clearfix">
        <!-- 清除了浮动 -->
        <div class="userinfo">
            <span class="ac-userimg">
                <img src="images/1.jpg">
            </span>
            <span class="ac-username">
                李华伟
            </span>
        </div>

        <div class="ac-left">
            <a class="ac-title" href="#">1月13日（星期六下午）在温大北校区7号楼打扫</a>
            <div class="ac-time">
                <p>
                    时间：2018-1-13日 13:30-16:00
                    <br>
                    截止2018-1-6日 已经<span>1</span>人报名
                </p>
            </div>
        </div>
        <div class="ac-right">
            <img src="images/acimg.png">
        </div>
    </section>
    <section class="action clearfix">
        <!-- 清除了浮动 -->
        <div class="userinfo">
            <span class="ac-userimg">
                <img src="images/1.jpg">
            </span>
            <span class="ac-username">
                李华伟
            </span>
        </div>

        <div class="ac-left">
            <a class="ac-title" href="#">1月13日（星期六下午）在温大北校区7号楼打扫</a>
            <div class="ac-time">
                <p>
                    时间：2018-1-13日 13:30-16:00
                    <br>
                    截止2018-1-6日 已经<span>1</span>人报名
                </p>
            </div>
        </div>
        <div class="ac-right">
            <img src="images/acimg.png">
        </div>
    </section>
    <section class="action clearfix">
        <!-- 清除了浮动 -->
        <div class="userinfo">
            <span class="ac-userimg">
                <img src="images/1.jpg">
            </span>
            <span class="ac-username">
                李华伟
            </span>
        </div>

        <div class="ac-left">
            <a class="ac-title" href="#">1月13日（星期六下午）在温大北校区7号楼打扫</a>
            <div class="ac-time">
                <p>
                    时间：2018-1-13日 13:30-16:00
                    <br>
                    截止2018-1-6日 已经<span>1</span>人报名
                </p>
            </div>
        </div>
        <div class="ac-right">
            <img src="images/acimg.png">
        </div>
    </section>
</div>
