@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/UserInfo/GetUser/@Model.UserInfoID">个人中心</a><br />
        <a href="/UserInfo/WriteTalk">编写心得</a><br />
        义工
    </div>
</body>
</html>
