
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <style>
        /*搜索按钮*/

        #myInput {
            background-image: url('https://static.runoob.com/images/mix/searchicon.png');
            /* 搜索按钮 */
            background-position: 10px 12px;
            /* 定位搜索按钮 */
            background-repeat: no-repeat;
            /* 不重复图片*/
            width: 100%;
            font-size: 16px;
            /* 加大字体 */
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            /* 移除默认的列表样式 */
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            #myUL li a {
                border: 1px solid #ddd;
                /* 链接添加边框 */
                margin-top: -1px;
                background-color: #f6f6f6;
                padding: 12px;
                text-decoration: none;
                font-size: 18px;
                color: black;
                display: block;
            }

                #myUL li a.header {
                    background-color: #e2e2e2;
                    cursor: default;
                }

                #myUL li a:hover:not(.header) {
                    background-color: #eee;
                }
        /*搜索按钮结束*/

    </style>
    <script>
        function search(input) {
            var text = $(input).val();
            if (text == null || text == "") {
                $("#myUL").hide();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/UserInfo/SearchActivityPeople",
                data: { key: text },
                dataType: "json",
                success: function (data) {
                    if (data["msg"]=="success") {
                        //var usersHtml = '<li><a class="header">' + text + '</a></li>';
                        var usersHtml = "";
                        $.each(data["data"], function (index, val) {
                            usersHtml += '<li><a onclick="result(this,' + val.UserInfoID +')">真实姓名: ' + val.UserInfoShowName + " 登录名:" + val.UserInfoLoginId + " 手机号:" + val.UserInfoPhone+'</a></li>';
                        });
                        $("#myUL").html(usersHtml);
                        $("#myUL").show();
                    }  
                }
            });
        }

        function result(e, value) {
            var str = e.text
            $("#myInput").val(e.text);
            $("#ActivityMananager").val(value);
        }
    </script>
</head>
<body>
    <div>
        <input type="hidden" name="ActivityManager" id="ActivityMananager"/>
        <input type="text" id="myInput" onkeyup="search(this)" placeholder="搜索...">

        <ul id="myUL" hidden="hidden"></ul>
        列表：<input type="text" list="mydata" placeholder="热门电影排行" />
        <datalist t id="mydata">
            <option label="Top1" value="让子弹飞">
            <option label="Top2" value="非诚勿扰2">
            <option label="Top3" value="大笑江湖">
            <option label="Top4" value="赵氏孤儿">
            <option label="Top5" value="初恋这件小事">
        </datalist>
    </div>
</body>
</html>
