<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瓯江志愿者网</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />



    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script type="text/javascript">
        $(function () {
            //初始化表格
            initTable();
            $("#btn_agrees").click(function () {
                agreeSelectClickEvent();
            });
            $("#btn_removes").click(function () {
                opposeSelectClickEvent();
            });
        });

        //初始化表格
        function initTable(queryParam) {
            $("#tb_user").bootstrapTable('destroy');
            $('#tb_user').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",
                url: '/UserInfo/GetAllUserOfAuditing',        
                method: 'post',                    
                toolbar: '#toolbar',
                striped: true,                     
                cache: false,                       
                pagination: true,                 
                queryParams: queryParam,
                sidePagination: "server",           
                pageNumber: 1,                      
                pageSize: 10,                      
                pageList: [10, 20, 50, 100],      
                smartDisplay: false,
                showColumns: true,                
                showRefresh: true,                 
                minimumCountColumns: 3,         
                clickToSelect: true,
                uniqueId: "UserInfoID",                
                columns: [
                    {
                        field: 'checked',
                        checkbox: true,
                    },
                    {
                        field: 'UserInfoID',
                        title: '账号Id',
                        width: '5%',
                        visible: false,
                        align: 'center',
                    },
                    {
                        field: 'UserInfoLoginId',
                        title: '志愿者用户名',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'UserInfoShowName',
                        title: '志愿者昵称',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'OrganizeInfoShowName',
                        title: '团队名称',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'PoliticalName',
                        title: '申请前政治面貌',
                        visible: true,
                        width: '10%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["PoliticalName"] == row["UpdateName"])
                                return null;
                            else
                                return row["PoliticalName"];
                        }
                    },
                    {
                        field: 'UpdateName',
                        title: '申请后政治面貌',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'UserDurationPropartyTime',
                        title: '预备党员活动时长',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'ModfiedOn',
                        title: '申请时间',
                        visible: true,
                        width: '13%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (value == null)
                                return null;
                            else
                                return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                        }
                    },
                    {
                        field: 'Status',
                        title: '状态',
                        visible: true,
                        width: '10%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["Status"] == 2) {
                                return '未审核';
                            } else {
                                return '异常';
                            }
                        },
                    },
                    {
                        field: 'operate',
                        title: '操作',
                        align: 'center',
                        width: '25%',
                        formatter: operateFormatter,
                    }
                ],
                onLoadSuccess: function (data) {

                    $(".agreeLink").click(function () {
                        agreeClickEvent($(this).attr("uid"));
                        return false;
                    });
                    $(".opposeLink").click(function () {
                        opposeClickEvent($(this).attr("uid"));
                        return false;
                    })
                }
            });
        };
        //生成操作框图标
        function operateFormatter(value, row, index) {
            return [
                '<a  href="javascript:void(0)" class="agreeLink" uid="' + row['UserInfoID'] + '">',
                '<i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;<span>同意</span>',
                '</a>&nbsp;&nbsp;&nbsp;&nbsp;',
                '<a href="javascript:void(0)" class="opposeLink" uid="' + row['UserInfoID'] + '">',
                '<i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;<span>驳回</span></a>',
            ].join('');
        }

        function agreeSelectClickEvent() {
            var selectedRows = $('#tb_user').bootstrapTable('getSelections', function (row) {
                return row;
            });
            if (selectedRows.length <= 0) {
                alert("至少选中一个选项");
                return;
            }
            var ids = "";
            for (var key in selectedRows) {
                ids += selectedRows[key].UserInfoID + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            $.post("/UserInfo/EditOfList", { ids, ids }, function (data) {

                if (data == "success") {
                    initTable();
                    alert("操作成功");
                } else if (data == "null") {
                    alert("至少选择一列");
                } else {
                    alert("操作失败,请稍后再试");
                }
            });
        }

        function agreeClickEvent(data) {
            $.post("/UserInfo/EditOfList", { ids: data }, function (data) {
                if (data == "success") {
                    initTable();
                    alert("操作成功");
                } else if (data == "null") {
                    alert("至少选择一列");
                } else {
                    alert("操作失败,请稍后再试");
                }
            });
        }

        function opposeSelectClickEvent() {
            var selectedRows = $('#tb_user').bootstrapTable('getSelections', function (row) {
                return row;
            });
            if (selectedRows.length <= 0) {
                alert("至少选中一个选项");
                return;
            }
            var ids = "";
            for (var key in selectedRows) {
                ids += selectedRows[key].UserInfoID + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            $.post("/UserInfo/DeleteOfList", { ids, ids }, function (data) {
                if (data == "success") {
                    alert("操作成功");
                    initTable();
                } else if (data == "null") {
                    alert("至少选择一列");
                } else {
                    alert("操作失败,请稍后再试");
                }
            });
        }

        //单项操作事件
        function opposeClickEvent(data) {
            $.post("/UserInfo/DeleteOfList", { ids: data }, function (data) {
                if (data == "success") {
                    alert("操作成功");
                    initTable();
                } else if (data == "null") {
                    alert("至少选择一列");
                } else {
                    alert("操作失败,请稍后再试");
                }
            })
        }

    </script>

</head>
<body>
    <div id="toolbar" class="btn-group">
        <button id="btn_agrees" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>同意
        </button>
        <button id="btn_removes" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>驳回
        </button>
    </div>
    <div>
        <table id="tb_user"></table>
    </div>
</body>



