<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瓯江志愿者网</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table id="tb_activity"></table>
    </div>

    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script type="text/javascript">
        layui.use('layer', function () {
            var layer = layui.layer;
        });
        $(function () {
            initTable();
        });

        function initTable(queryParam) {
            $("#tb_activity").bootstrapTable('destroy');
            $('#tb_activity').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",
                url: '/Activity/ActManData',
                method: 'post',
                toolbar: '#toolbar',
                striped: true,
                cache: false,
                pagination: true,
                detailView: true,
                queryParams: queryParam,
                sidePagination: "server",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                smartDisplay: false,
                showColumns: true,
                showRefresh: true,
                minimumCountColumns: 3,
                clickToSelect: true,
                uniqueId: "ActivityID",
                columns: [
                    {
                        field: 'ActivityID',
                        title: '活动Id',
                        width: '8%',
                        align: 'center',
                    },
                    {
                        field: 'ActivityName',
                        title: '活动名称',
                        visible: true,
                        align: 'center',
                        width: '25%',

                    },
                    {
                        field: 'OrganizeInfoShowName',
                        title: '所属团队',
                        align: 'center',
                        width: '10%',
                    },
                    {
                        field: 'ActivityTypeName',
                        title: '活动类型',
                        align: 'center',
                        width: '10%',
                    },
                    {
                        field: 'ActivityPrediNum',
                        title: '活动人数名额',
                        align: 'center',
                        width: '10%',
                    },
                    {
                        field: 'EnrollNum',
                        title: '报名人数',
                        align: 'center',
                        width: '10%',
                    },
                    {
                        field: 'DetailNum',
                        title: '实到人数',
                        align: 'center',
                        width: '10%',
                    },
                    {
                        field: 'ActivityStart',
                        title: '活动开始时间',
                        visible: true,
                        align: 'center',
                        width: '20%',
                        formatter: function (value, row, index) {
                            return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                        }
                    },
                    {
                        field: 'ActivityEnd',
                        title: '活动结束时间',
                        visible: true,
                        align: 'center',
                        width: '20%',
                        formatter: function (value, row, index) {
                            return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                        }
                    },
                    {
                        field: 'Status',
                        title: '状态',
                        visible: true,
                        align: 'center',
                        width: '10%',
                        formatter: function (value, row, index) {
                            if (value == "0")
                                return "正常";
                            else if (value == "2" || value == "5")
                                return "审核中";
                            else if (value == "4")
                                return ("进行中");
                        }
                    },
                ],
                onDblClickRow: function (row, $element) {
                    var index = layer.open({
                        title: '活动详情',
                        type: 2,
                        content: '/Activity/OrgSeeDetails/' + row["ActivityID"],
                        area: ['1000px', '500px']
                    });
                },
                onExpandRow: function (index, row, $detail) {
                    initSubTable(index, row, $detail);
                }
            });
        };
        //子表
        function initSubTable(index, row, $detail) {
            var parentid = row.ActivityID;
            var cur_table = $detail.html('<table></table>').find('table');
            $(cur_table).bootstrapTable({
                queryParams: { id: parentid },
                url: '/Activity/ParticipantsData',
                clickToSelect: true,
                uniqueId: "UserInfoID",
                columns: [
                    {
                        field: 'UserInfoID',
                        title: '用户Id',
                        width: '5%',
                        align: 'center',
                    },
                    {
                        field: 'UserInfoShowName',
                        title: '用户昵称',
                        visible: true,
                        align: 'center',
                        width: '10%',
                        editable: {
                            type: 'text',
                            title: '用户名',
                            validate: function (v) {
                                if (!v) return '用户名不能为空';
                            }
                        }
                    },
                    {
                        field: 'UserEnrollActivityStart',
                        title: '活动开始时间',
                        visible: true,
                        align: 'center',
                        width: '20%',
                        formatter: function (value, row, index) {
                            if (value)
                                return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                            else
                                null;
                        }
                    },
                    {
                        field: 'UserEnrollActivityEnd',
                        title: '活动结束时间',
                        visible: true,
                        align: 'center',
                        width: '20%',
                        formatter: function (value, row, index) {
                            if (value)
                                return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                            else
                                null;
                        }
                    },
                    {
                        field: 'ActivityTime',
                        title: '活动时长',
                        align: 'center',
                        width: '25%',
                    },
                ],   
            });
        }
    </script>
</body>
</html>