@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/oj/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/oj/css/main.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Content/oj/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/check.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        function afterLogin(data) {
            if (data == "userinfo") {
                window.top.location.href = "/UserInfo/Index";
            } else if (data == "OrganizeInfo") {
                window.top.location.href = "/OrganizeInfo/Index";
            } else if (data == "fail") {
                alert("密码错误，请重新输入！");
            }
        }
    </script>

</head>
<body>

    <div class="login-content conter-block">
        <p class="lg-title">登录</p>
        @using (Ajax.BeginForm("ProcessLogin", "Login", new AjaxOptions() { OnSuccess = "afterLogin" },new { @class = "layui-form" }))
        {
            <input type="text" name="LoginCode" class="forminput clearfix" placeholder="请输入帐号"  lay-verify="required|userID">
            <input type="password" name="LoginPwd" class="forminput clearfix" placeholder="请输入密码（不少于6位）"   lay-verify="required|pass">
            <button type="submit" class="btn btn-success" id="loginbtn" lay-submit>登录</button>
            <a href="register.html">快速注册></a>
        }
    </div>


</body>
</html>

