
@{
    ViewBag.Title = "Index";
}


<!-- 用的库是bootstrap和jquery，css和js文件均为main -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/oj/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/oj/css/main.css" rel="stylesheet" />
</head>
<body>

    <div class="login-content conter-block">
        <p class="lg-title">登录</p>
            <input type="text" name="" class="forminput clearfix" placeholder="请输入帐号">
            <input type="password" name="" class="forminput clearfix" placeholder="请输入密码（不少于6位）">
            <button type="submit" class="btn btn-success" id="loginbtn">登录</button>
            <a href="register.html">快速注册></a>
    </div>

    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Content/oj/js/bootstrap.min.js"></script>
    <script src="~/Content/oj/js/main.js"></script>
</body>
</html>

