<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <appSettings>
        <add key="DalAssemblyName" value="OjVolunteer.EFDAL" />
    </appSettings>

    <connectionStrings>
        <add name="OjVolunteerEntities" connectionString="metadata=res://*/EFDataModel.csdl|res://*/EFDataModel.ssdl|res://*/EFDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OjVolunteer;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
