<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瓯江义工网</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">


    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/admin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table-filter-control.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table id="tb_talk" data-filter-control="true"></table>
    </div>

    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/admin.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-filter-control.js"></script>

    <script type="text/javascript">
        $(function () {
            //初始化表格
            initTable();
        });

        //初始化表格
        function initTable(queryParam) {
            $("#tb_talk").bootstrapTable('destroy');
            $('#tb_talk').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",
                url: '/Talks/GetAllTalks',
                method: 'post',
                toolbar: '#toolbar',
                striped: true,
                cache: false,
                pagination: true,
                queryParams: function (param) {
                    return param;
                },
                sidePagination: "server",
                pageNumber: 1,
                pageSize: 5,
                pageList: [5, 10, 20, 50],
                smartDisplay: false,
                showColumns: true,
                showRefresh: true,
                minimumCountColumns: 3,
                clickToSelect: true,
                uniqueId: "TalkID",

                columns: [
                    {
                        field: 'TalkID',//域值
                        title: 'Id',//标题
                        visible: false,
                        align: 'center',
                        width: '6%',
                        filterControl: 'input',
                    },
                    {
                        field: 'UserInfoShowName',//域值
                        title: '义工名称',//标题
                        visible: true,//false表示不显示
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'OrganizeInfoShowName',//域值
                        title: '组织名称',//标题
                        visible: true,//false表示不显示
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'TalkFavorsNum',//域值
                        title: '点赞数',//标题
                        visible: true,//false表示不显示
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'CreateTime',//域值
                        title: '创建时间',//标题
                        visible: true,//false表示不显示
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["UserInfoPhone"] == null) {
                                return '未填写';
                            }
                            return value;
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'Status',//域值
                        title: '状态',//内容
                        visible: true,//false表示不显示
                        sortable: true,//启用排序
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["Status"] == 2) {
                                return '待审核';
                            } else if (row["Status"] == 1) {
                                return '已删除';
                            } else if (row["Status"] == 0) {
                                return '正常';
                            }
                        },
                        filterControl: 'input',
                    }
                ],
                onLoadSuccess: function (data) {
                    $(".editLink").click(function () {
                        editClickEvent($(this).attr("uid"));
                        return false;
                    });
                },
                onDblClickRow: function (row, $element) {
                    var index = layer.open({
                        type: 2,
                        title: false,
                        closeBtn: 0,
                        maxmin: false,
                        shadeClose: true,
                        area: ['600px', '700px'],
                        content: '/Talks/TalkDetail/' + row["TalkID"]
                    });
                }
            });
        };

    </script>
</body>
</html>






