<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瓯江义工网</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">


    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/admin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table-filter-control.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table id="tb_talk" data-filter-control="true"></table>
    </div>

    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/admin.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-filter-control.js"></script>

    <script type="text/javascript">
        $(function () {
            //初始化表格
            initTable();
        });

        //初始化表格
        function initTable(queryParam) {
            $("#tb_talk").bootstrapTable('destroy');
            $('#tb_talk').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",
                url: '/Talks/GetAllTalks',
                method: 'post',
                toolbar: '#toolbar',
                striped: true,
                cache: false,
                pagination: true,
                queryParams: function (param) {
                    return param;
                },
                sidePagination: "server",
                pageNumber: 1,
                pageSize: 5,
                pageList: [5, 10, 20, 50],
                smartDisplay: false,
                showColumns: true,
                showRefresh: true,
                minimumCountColumns: 3,
                clickToSelect: true,
                uniqueId: "TalkID",

                columns: [
                    {
                        field: 'TalkID',
                        title: 'Id',
                        visible: true,
                        align: 'center',
                        width: '6%',
                        filterControl: 'input',
                    },
                    {
                        field: 'UserInfoShowName',
                        title: '义工名称',
                        visible: true,
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'OrganizeInfoShowName',
                        title: '组织名称',
                        visible: true,
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'TalkFavorsNum',
                        title: '点赞数',
                        visible: true,
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'CreateTime',
                        title: '创建时间',
                        visible: true,
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (value == null)
                                return null;
                            else
                                return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'Status',
                        title: '状态',
                        visible: false,
                        sortable: true,
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["Status"] == 2) {
                                return '待审核';
                            } else if (row["Status"] == 1) {
                                return '已删除';
                            } else if (row["Status"] == 0) {
                                return '正常';
                            }
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'operate',
                        title: '操作',
                        align: 'center',
                        width: '6%',
                        formatter: operateFormatter,
                    }
                ],
                onLoadSuccess: function (data) {
                    $(".delete").click(function () {
                        deleteClickEvent($(this).attr("uid"));
                        return false;
                    });
                },
                onDblClickRow: function (row, $element) {
                    var index = layer.open({
                        type: 2,
                        title: false,
                        closeBtn: 0,
                        maxmin: false,
                        shadeClose: true,
                        area: ['600px', '700px'],
                        content: '/Talks/TalkDetail/' + row["TalkID"]
                    });
                }
            });
        };

        function operateFormatter(value, row, index) {
            return [
                '<a  href="javascript:void(0)" class="delete" uid="' + row['TalkID'] + '">',
                '<i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;<span>删除</span>',
                '</a>&nbsp;&nbsp;&nbsp;&nbsp;',

            ].join('');
        }

        //单项删除事件
        function deleteClickEvent(data) {
            //再次确认
            $.post("/Talks/Delete", { ids: data }, function (data) {
                initTable();
                if (data["msg"] == "success") {
                    alert("操作成功");
                } else {
                    alert("操作失败,请稍后再试");
                }
            })
        }
    </script>
</body>
</html>






