@model OjVolunteer.UIPortal.Models.TalkViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的心得</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="~/Content/oj/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/oj/css/iconfont.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/main.css" rel="stylesheet" />


    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Content/oj/js/bootstrap.min.js"></script>
    <script src="~/Content/oj/js/amazeui.min.js"></script>
    <script src="~/Content/oj/js/main.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script type="text/javascript">

        $(function () {
            GetActivityData(1, 5);
        });

        //加载心得数据
        function GetActivityData(pageIndex, pageSize) {
            $.post("/Talks/GetListData", { pageIndex: pageIndex, pageSize: pageSize }, function (data) {
                if (data["msg"] == "success") {
                    pageIndex = pageIndex + 1;
                    var buffer = "";
                    var item = data["data"];
                    for (var i = 0; i < item.length; i++) {
                        /**/
                        buffer = buffer + "<li class='aclist-box clearfix'> <a href='#' class='aclist-box-img'><img src='" + item[i].ActivityIcon + "'></a><div class='aclist-box-info'><a href=''>" + item[i].ActivityName + "</a><span class='actime'>时间:" + TimeFormat(item[i].ActivityStart) + "-" + TimeFormat(item[i].ActivityEnd) + "</span><br> <span class='acendtime'>截止: " + TimeFormat(item[i].ActivityEnrollEnd) + "</span></div><div class='acbox-btn'><button  class='btnEnroll' activity=" + item[i].ActivityID + ">我要报名</button> </div></li>";
                        /**/
                    }
                    buffer = buffer + "<input type='button' id='btnevent' pageIndex='";
                    buffer = buffer + pageIndex + "' value='查看更多'/>";
                    $("#btnevent").remove();
                    $("#list").append(buffer);
                    BindEnrollClickEvent();
                    BindActivtyListClickEvent();
                } else {
                    $("#btnevent").remove();
                    var buffer = "<p> 无更多心得</p>"
                    $("#list").append(buffer);
                }
            });

        }

        //查看更多活动按钮绑定
        function BindActivtyListClickEvent() {
            $("#btnevent").click(function () {
                var pageIndex = parseInt($("#btnevent").attr("pageIndex"));
                var pageSize = 5;
                GetActivityData(pageIndex, pageSize);
            });
        }

        //点赞按钮绑定事件
        function BindEnrollClickEvent() {
            $(".btnEnroll").click(function () {
                var activityId = $(this).attr("activity");
                $.post("/UserEnroll/Create/", { activityId: activityId }, function (data) {
                    alert(data["msg"]);
                });
            });
        }

        //时间戳转为时间
        function TimeFormat(value) {
            return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
        }

    </script>
</head>
<body>
    <header>
        <nav class="top">
            <p>我的心得</p>
        </nav>
    </header>

    <div class="myfeel">
        <ul class="myfeel-list">

            <li class="myfeel-item">
                <div class="feel-item-info clearfix">
                    <a class="info-img" href="#">
                        <img src="images/1.jpg">
                    </a>
                    <div class="info-name">
                        <a href="#">李华伟</a>
                        <p>
                            <span class="feeltime">
                                今天13:41
                            </span>
                        </p>
                    </div>
                    <i class="layui-icon">&#xe6c6;<span>1</span></i>
                </div>
                <div class="fell-item-content">
                    <p>1日周日是我第一次参加医学组的活动，地点市立医院东区，之前都在导乘组参加的活动多一点，不管在哪里活动，宗旨就是为服务他人。心得：热心帮助别人的感觉真好，虽然有时会有些累，但是为了别人付出，看到别人满意的笑容很值得。伙伴们辛苦了，希望以后有时间会多参加医学组的活动，帮助到更多的人！</p>
                </div>
            </li>
            <li class="myfeel-item">
                <div class="feel-item-info clearfix">
                    <!-- 点击头像可以进入个人空间 -->
                    <a class="info-img" href="#">
                        <img src="images/1.jpg">
                    </a>
                    <div class="info-name">
                        <!-- 点击姓名可以进入个人空间 -->
                        <a href="#">李华伟</a>
                        <p>
                            <span class="feeltime">
                                今天13:41
                            </span>
                        </p>
                    </div>
                    <i class="layui-icon">&#xe6c6;<span>1</span></i>
                </div>
                <div class="fell-item-content">
                    <p>1日周日是我第一次参加医学组的活动，地点市立医院东区，之前都在导乘组参加的活动多一点，不管在哪里活动，宗旨就是为服务他人。心得：热心帮助别人的感觉真好，虽然有时会有些累，但是为了别人付出，看到别人满意的笑容很值得。伙伴们辛苦了，希望以后有时间会多参加医学组的活动，帮助到更多的人！</p>
                </div>
            </li>
            <li class="myfeel-item">
                <div class="feel-item-info clearfix">
                    <!-- 点击头像可以进入个人空间 -->
                    <a class="info-img" href="#">
                        <img src="images/1.jpg">
                    </a>
                    <div class="info-name">
                        <!-- 点击姓名可以进入个人空间 -->
                        <a href="#">李华伟</a>
                        <p>
                            <span class="feeltime">
                                今天13:41
                            </span>
                        </p>
                    </div>
                    <i class="layui-icon">&#xe6c6;<span>1</span></i>
                </div>
                <div class="fell-item-content">
                    <p>1日周日是我第一次参加医学组的活动，地点市立医院东区，之前都在导乘组参加的活动多一点，不管在哪里活动，宗旨就是为服务他人。心得：热心帮助别人的感觉真好，虽然有时会有些累，但是为了别人付出，看到别人满意的笑容很值得。伙伴们辛苦了，希望以后有时间会多参加医学组的活动，帮助到更多的人！</p>
                </div>
            </li>

        </ul>
    </div>
    <!-- 侧边栏组件 -->
    <div class="topback" id="topback">
        <img src="images/topback.png">
    </div>
    <a href="javascript:history.go(-1)" class="header-back">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
   
</body>
</html>