
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
@section css{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table-filter-control.css" rel="stylesheet" />
}

@section script{
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-filter-control.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script type="text/javascript">
        $(function () {
            //初始化表格
            initTable();
        });
        //初始化表格
        function initTable(queryParam) {
            $("#tb_organize").bootstrapTable('destroy');
            $('#tb_organize').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",
                url: '/OrganizeInfo/GetAllOrganizeInfo',
                method: 'post',
                toolbar: '#toolbar',
                striped: true,
                cache: false,
                pagination: true,
                queryParams: function (param) {
                    return param;
                },
                sidePagination: "server",
                pageNumber: 1,
                pageSize: 10,
                pageList: [10, 20, 50, 100],
                smartDisplay: false,
                showColumns: true,
                showRefresh: true,
                minimumCountColumns: 3,
                clickToSelect: true,
                uniqueId: "OrganizeInfoID",
                columns: [
                    {
                        field: 'OrganizeInfoID',
                        title: '组织编号',
                        visible: false,
                        align: 'center',
                        width: '6%',
                        filterControl: 'input',
                    },
                    {
                        field: 'OrganizeInfoLoginId',
                        title: '组织用户名',
                        visible: true,
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'OrganizeInfoShowName',
                        title: '组织昵称',
                        visible: true,
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'OrganizeInfoPeople',
                        title: '组织负责人',
                        visible: true,
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field: 'OrganizeInfoPhone',
                        title: '手机号',
                        visible: true,
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["OrganizeInfoPhone"] == null) {
                                return '未填写';
                            }
                            return value;
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'OrganizeInfoEmail',
                        title: '邮箱',
                        visible: true,
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["OrganizeInfoEmail"] == null) {
                                return '未填写';
                            }
                            return value;
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'ActivityCount',
                        title: '义工活动数目',
                        visible: false,
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["ActivityCount"] == null) {
                                return '0';
                            }
                            return value;
                        },
                        filterControl: 'input',
                    },
                    {
                        field: 'CreateTime',
                        title: '组织创建时间',
                        visible: false,
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                        formatter: function (value, row, index) {
                            if (value == null)
                                return null;
                            else
                                return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                        }
                    },
                    {
                        field: 'OrganizeInfoLastTime',//域值
                        title: '最后登录时间',//内容
                        visible: true,//false表示不显示
                        width: '6%',
                        align: 'center',
                        filterControl: 'input',
                        formatter: function (value, row, index) {
                            if (value == null)
                                return null;
                            else
                                return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                        }
                    },
                    {
                        field: 'Status',//域值
                        title: '状态',//内容
                        visible: true,//false表示不显示
                        sortable: true,//启用排序
                        width: '6%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["Status"] == 2) {
                                return '未审核';
                            } else if (row["Status"] == 1) {
                                return '已删除';
                            } else if (row["Status"] == 0) {
                                return '正常'
                            }
                        },
                        filterControl: 'input',
                    }
                ],
                onLoadSuccess: function (data) {
                    $(".editLink").click(function () {
                        editClickEvent($(this).attr("uid"));
                        return false;
                    });
                },
                onDblClickRow: function (row, $element) {
                    var index = layer.open({
                        type: 2,
                        title: false,
                        closeBtn: 0,
                        maxmin: false,
                        shadeClose: true,
                        area: ['600px', '700px'],
                        content: '/OrganizeInfo/OrganizeDetail/' + row["OrganizeInfoID"]
                    });
                }
            });
        };
        //生成操作框图标
        function operateFormatter(value, row, index) {
            return [
                '<a  href="javascript:void(0)" class="editLink" uid="' + row['OrganizeInfoID'] + '">',
                '<i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span>编辑</span>',
                '</a>',
            ].join('');
        }
    </script>
}

<div>
    <table id="tb_organize" data-filter-control="true"></table>
</div>

