
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/admin.css" rel="stylesheet" />
</head>
<body>
    <div>
        <a href="/OrganizeInfo/OrganizeOfAuditing">审核组织</a>
        <a href="/OrganizeInfo/AllUserInfo">所有用户信息(包括审核的)</a><br />
        <a href="/OrganizeInfo/UserInfoDetail/3">用户详细信息</a><br />
        <a href="/UserInfo/ExportExcel">义工文件导出</a>
        <a href="/OrganizeInfo/ExportExcel">组织文件导出</a>
        <a href="/OrganizeInfo/Create/">Create 组织</a>
        <a href="/UserInfo/Create/">Create 用户</a>
        <a>Test</a>
        组织组织
    </div>
</body>
</html>
