
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserOfAuditing</title>
    <!-- bst-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-table-zh-CN.js"></script>

    <script type="text/javascript">
        $(function () {
            //初始化表格
            initTable();
            $("#btn_agrees").click(function () {
                agreeSelectClickEvent();
            });
            $("#btn_removes").click(function () {
                opposeSelectClickEvent();
            }); 
        });

        //初始化表格
        function initTable(queryParam) {
            $("#tb").bootstrapTable('destroy');
            $('#tb').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",//后台拿Request拿不到值添加该条语句
                url: '/OrganizeInfo/GetAllUserOfAuditing',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#toolbar',
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                queryParams: queryParam,
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 20, 50, 100],        //可供选择的每页的行数（*）
                smartDisplay: false,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 3,             //最少允许的列数
                clickToSelect: true,
                uniqueId: "UserInfoID",                     //每一行的唯一标识，一般为主键列
                columns: [
                    {
                        field: 'checked',
                        checkbox: true,
                    },
                    {
                        field: 'UserInfoID',
                        title: '账号Id',
                        width: '5%',
                        visible: false,
                        align: 'center',
                    },
                    {
                        field: 'UserInfoLoginId',
                        title: '义工用户名',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'UserInfoShowName',
                        title: '义工昵称',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'OrganizeInfoShowName',
                        title: '组织昵称',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'PoliticalName',
                        title: '申请前政治面貌',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'UpdateName',
                        title: '申请后政治面貌',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'ModfiedOn',
                        title: '申请时间',
                        visible: true,
                        width: '13%',
                        align: 'center',
                        formatter: function (value, row, index) {
                                if (value == null)
                                    return null;
                                else
                                    return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                        }
                    },
                    {
                        field: 'Status',
                        title: '状态',
                        visible: true,
                        width: '10%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row["Status"] == 2) {
                                return '未审核';
                            } else {
                                return '异常';
                            }
                        },
                    },
                    {
                        field: 'operate',
                        title: '操作',
                        align: 'center',
                        width: '25%',
                        formatter: operateFormatter,
                    }
                ],
                onLoadSuccess: function (data) {

                    $(".agreeLink").click(function () {
                        agreeClickEvent($(this).attr("uid"));
                        return false;
                    });
                    $(".opposeLink").click(function () {
                        opposeClickEvent($(this).attr("uid"));
                        return false;
                    })
                }
            });
        };

        //批量通过
        function agreeSelectClickEvent() {
            var selectedRows = $('#tb').bootstrapTable('getSelections', function (row) {
                return row;
            });
            if (selectedRows.length <= 0) {
                alert("至少选中一个选项");
            }
            var ids = "";
            for (var key in selectedRows) {
                ids += selectedRows[key].UserInfoID + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            $.post("/OrganizeInfo/AgreeUser", { ids, ids }, function (data) {
                //初始化表格
                initTable();
                if (data == "ok") {
                    alert("通过成功");
                } else if (data == "null") {
                    alert("至少选择一列");
                } else {
                    alert("通过失败,请稍后再试");
                }
            });
        }

        //单项通过事件
        function agreeClickEvent(data) {
            $.post("/OrganizeInfo/AgreeUser", { ids: data }, function (data) {
                initTable();
                if (data == "ok") {
                    alert("通过成功");
                } else if (data == "null") {
                    alert("至少选择一列");
                } else {
                    alert("删除失败,请稍后再试");
                }
            });
        }

        //批量删除
        function opposeSelectClickEvent() {
            var selectedRows = $('#tb').bootstrapTable('getSelections', function (row) {
                return row;
            });
            if (selectedRows.length <= 0) {
                alert("至少选中一个选项");
            }
            var ids = "";
            for (var key in selectedRows) {
                ids += selectedRows[key].UserInfoID + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            $.post("/OrganizeInfo/OpposeUser", { ids, ids }, function (data) {
                //初始化表格
                initTable();
                if (data == "ok") {
                    alert("驳回成功");
                } else if (data == "null") {
                    alert("至少选择一列");
                } else {
                    alert("驳回失败,请稍后再试");
                }
            });
        }

        //单项删除事件
        function opposeClickEvent(data) {
            $.post("/OrganizeInfo/OpposeUser", { ids: data }, function (data) {
                initTable();
                if (data == "ok") {
                    alert("驳回成功");
                } else if (data == "null") {
                    alert("至少选择一列");
                } else {
                    alert("驳回失败,请稍后再试");
                }
            })
        }

        //生成操作框图标
        function operateFormatter(value, row, index) {
            return [
                '<a  href="javascript:void(0)" class="agreeLink" uid="' + row['UserInfoID'] + '">',
                '<i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;<span>通过</span>',
                '</a>&nbsp;&nbsp;&nbsp;&nbsp;',
                '<a href="javascript:void(0)" class="opposeLink" uid="' + row['UserInfoID'] + '">',
                '<i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;<span>驳回</span></a>',
            ].join('');
        }
    </script>
</head>
<body>
    <div id="toolbar" class="btn-group">
        <button id="btn_agrees" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>通过
        </button>
        <button id="btn_removes" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>驳回
        </button>
    </div>
    <div>
        <table id="tb"></table>
    </div>
</body>



</html>


