
<title>志愿者系统管理首页</title>
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<link href="~/Content/oj/css/style.css" rel="stylesheet" />
<link href="~/Content/oj/css/admin.css" rel="stylesheet" />

<script src="~/Content/oj/js/jquery-1.12.4.js"></script>
<script src="~/Content/layui/layui.js"></script>
<script src="~/Content/oj/js/notification.js"></script>
<script src="~/Content/oj/js/admin.js"></script>
<!-- iframe-main -->
<div class="iframe-main">

    <div class="layui-row layui-col-space10">
        <div class="layui-col-md6">
            <blockquote class="layui-elem-quote">
                欢迎页面
            </blockquote>

        </div>
        <div class="layui-col-md6 ">
            <hr class="layui-bg-green">
            <div>
                <a href="/UserInfo/ExportExcel">志愿者文件导出</a>
                <a href="/OrganizeInfo/ExportExcel">组织文件导出</a>

                <a href="/OrganizeInfo/Create/">Create 组织</a>
                <a href="/UserInfo/Create/">Create 用户</a>

                <a href="/ActivityType/Index">活动类型</a>

                <a href="/Activity/OrgCreate/">活动申请 </a>
            </div>
        </div>
    </div>


</div>
