<!-- 用的库是bootstrap和jquery，css和js文件均为main -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瓯江义工网</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/oj/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="top">
            <p>义工排行</p>
        </nav>
    </header>

    <!-- 选择栏 -->
    <form class="layui-form">
        <div class="selectbox clearfix">
            <div class="seleleft">
                <select name="city" lay-verify="required">
                    <option value="">选择分院</option>
                    <option value="0">数信</option>
                    <option value="1">经管</option>
                    <option value="2">文法</option>
                    <option value="3">机电</option>
                    <option value="4">艺术</option>
                </select>
            </div>
            <div class="seleleft">
                <select name="city" lay-verify="required">
                    <option value="">选择时间范围</option>
                    <option value="0">周</option>
                    <option value="1">月</option>
                    <option value="2">年</option>
                    <option value="3">至今</option>
                </select>
            </div>
        </div>
    </form>
    <div class="toplist">
        <div class="toplist-userinfo">
            <img src="images/hot-img5.jpg">
            <p>
                李华伟
                <br /> 义工时长：
                <span>300</span>小时
            </p>
        </div>
    </div>
    <ul class="untop">
        <li class="untop-item clearfix">
            <p class="rank">
                NO.2
            </p>
            <div class="untop-item-wrap">
                <img src="images/1.jpg">
            </div>
            <div class="rankinfo">
                <p>叶舟</p>
                <span>义工时长：<i>250</i>小时</span>
            </div>
        </li>

        <li class="untop-item clearfix">
            <p class="rank">
                NO.3
            </p>
            <div class="untop-item-wrap">
                <img src="images/1.jpg">
            </div>
            <div class="rankinfo">
                <p>叶舟</p>
                <span>义工时长：<i>250</i>小时</span>
            </div>
        </li>

        <li class="untop-item clearfix">
            <p class="rank">
                NO.4
            </p>
            <div class="untop-item-wrap">
                <img src="images/1.jpg">
            </div>
            <div class="rankinfo">
                <p>叶舟</p>
                <span>义工时长：<i>250</i>小时</span>
            </div>
        </li>

        <li class="untop-item clearfix">
            <p class="rank">
                NO.5
            </p>
            <div class="untop-item-wrap">
                <img src="images/1.jpg">
            </div>
            <div class="rankinfo">
                <p>叶舟</p>
                <span>义工时长：<i>250</i>小时</span>
            </div>
        </li>

        <li class="untop-item clearfix">
            <p class="rank">
                NO.6
            </p>
            <div class="untop-item-wrap">
                <img src="images/1.jpg">
            </div>
            <div class="rankinfo">
                <p>叶舟</p>
                <span>义工时长：<i>250</i>小时</span>
            </div>
        </li>

        <li class="untop-item clearfix">
            <p class="rank">
                NO.7
            </p>
            <div class="untop-item-wrap">
                <img src="images/1.jpg">
            </div>
            <div class="rankinfo">
                <p>叶舟</p>
                <span>义工时长：<i>250</i>小时</span>
            </div>
        </li>

        <li class="untop-item clearfix">
            <p class="rank">
                NO.7
            </p>
            <div class="untop-item-wrap">
                <img src="images/1.jpg">
            </div>
            <div class="rankinfo">
                <p>叶舟</p>
                <span>义工时长：<i>250</i>小时</span>
            </div>
        </li>

        <li class="untop-item clearfix">
            <p class="rank">
                NO.7
            </p>
            <div class="untop-item-wrap">
                <img src="images/1.jpg">
            </div>
            <div class="rankinfo">
                <p>叶舟</p>
                <span>义工时长：<i>250</i>小时</span>
            </div>
        </li>

    </ul>

    <button class="layui-btn" id="test">弹出层</button>

    <!--显示该用户目前排行栏-->
    <div class="myRank">
        <li class="untop-item clearfix">
            <p class="rank">
                NO.230
            </p>
            <div class="untop-item-wrap">
                <img src="images/1.jpg">
            </div>
            <div class="rankinfo">
                <p>叶舟</p>
                <span>义工时长：<i>50</i>小时</span>
            </div>
        </li>
    </div>
    <!-- 返回上一层组件 -->
    <a href="javascript:history.go(-1)" class="header-back">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/main.js"></script>
    <script type="text/javascript">
        $(function () {
            GetActivityData(1, 5);
        });

        function GetActivityData(pageIndex, pageSize) {
            $.post("/Top/ActivityData", { pageIndex: pageIndex, pageSize: pageSize, TimeSpan:1 }, function (data) {
                $("#btnevent").remove();
                if (data["msg"] == "success") {
                    for (var i in data["data"]) {
                        var temp = data["data"][i];
                        //上
                        var li = $("<li class='feel-item'></li>");

                        var li_div = $("<div class='feel-item-info clearfix'></div>");
                        //头像
                        var li_div_a = $("<a class='info-img' href='/UserInfo/Other/?Id=" + temp.UserInfoId + "'></a>");
                        var li_div_a_img = $("<img/>");
                        li_div_a_img.attr("src", temp.Icon);
                        li_div_a.append(li_div_a_img);
                        //姓名 时间
                        var li_div_div = $("<div class='info-name'></div>");
                        var li_div_div_a = $("<a href='/UserInfo/Other/?Id=" + temp.UserInfoId + "'></a>");
                        li_div_div_a.text(temp.ShowName);
                        var li_div_div_p = $("<p></p>");
                        var li_div_div_p_span = $("<span class='feeltime'></span>");
                        li_div_div_p_span.text(TimeFormat(temp.CreateTime));
                        li_div_div_p.append(li_div_div_p_span);
                        li_div_div.append(li_div_div_a);
                        li_div_div.append(li_div_div_p);

                        //点赞数
                        var li_div_i_Str = null;
                        if (temp.Favors) {
                            li_div_i_Str = "<i class='layui-icon zan yiZan'>&#xe6c6;</i>";
                        } else {
                            li_div_i_Str = "<i class='layui-icon zan' >&#xe6c6;</i>";
                        }
                        var li_div_i = $(li_div_i_Str);
                        li_div_i.attr("tId", temp.TalkID);
                        var li_div_i_span = $("<span></span>");
                        li_div_i_span.text(temp.TalkFavorsNum);
                        li_div_i.append(li_div_i_span);
                        li_div.append(li_div_a);
                        li_div.append(li_div_div);
                        li_div.append(li_div_i);
                        //文本
                        var li_cdiv = $("<div class='fell-item-content'></div>");
                        var li_cdiv_p = $("<p></p>");
                        li_cdiv_p.text(temp.TalkContent);
                        li_cdiv.append(li_cdiv_p);
                        //图片
                        var li_bdiv = $("<div class='layui-row fell-item-imgs'></div>");
                        for (var j in temp.ImagePath) {
                            var img = temp.ImagePath[j];
                            var li_bdiv_div = $("<div class='layui-col-xs4'></div>");
                            var li_bdiv_div_div = $("<div class='box'></div>");
                            var li_bdiv_div_div_img = $("<img>");
                            li_bdiv_div_div_img.attr("src", img);
                            li_bdiv_div_div.append(li_bdiv_div_div_img);
                            li_bdiv_div.append(li_bdiv_div_div);
                            li_bdiv.append(li_bdiv_div);
                        }

                        li.append(li_div);
                        li.append(li_cdiv);
                        li.append(li_bdiv);


                        $("#feelul").append(li);
                    }
                    var btn_li = $("<li></li>");
                    var btn_input = $("<input type='button' id='btnevent' value='查看更多'/>");
                    pageIndex++;
                    btn_input.attr("pageIndex", pageIndex);
                    btn_li.append(btn_input);
                    $("#feelul").append(btn_li);
                    dianZan();
                    Photos();
                    BindActivtyListClickEvent();
                } else {
                    var btn_li = $("<li></li>");
                    btn_li.text("无新内容");
                    $("#feelul").append(btn_li);
                }
            });

        }

        layui.use('layer', function () {
            var layer = layui.layer;
        });
        $('#test').click(function () {
            layer.msg('不开心。。', { icon: 9 });
        });
    </script>
</body>
</html>